@charset "UTF-8";
/* ==========================================================================
   Foundation
   ========================================================================== */
/* Reset
   ----------------------------------------------------------------- */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.c-logo-img.headertop {
  height: auto;
  width: 145px;
  z-index: 1;
}
@media screen and (min-width: 1201px) {
  .c-logo-img.headertop {
    height: 33px;
    width: auto;
  }
}

.c-logo-img.main {
  display: none;
}
@media screen and (min-width: 768px) {
  .c-logo-img.main {
    z-index: 1;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    width: 280px;
    height: auto;
  }
}

.c-students-img1, .c-students-img2 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: auto;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .c-students-img1, .c-students-img2 {
    height: 100%;
    width: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.c-students-img2 {
  z-index: 10;
}

body {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.l-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: 50px;
  background-color: #fff;
}
@media screen and (min-width: 1201px) {
  .l-header {
    height: 70px;
  }
}

.l-main {
  overflow-y: hidden;
}
@media screen and (min-width: 768px) {
  .l-main {
    position: relative;
  }
}

.c-icon {
  background-color: #fff;
  border-radius: 50%;
  height: 230px;
  width: 230px;
  margin: 0 auto;
  border: 6px solid black;
}

.p-header-right.is-open ul.c-nav li.c-nav-list {
  position: relative;
}
.p-header-right.is-open ul.c-nav li.c-nav-list h2.c-menu-list {
  text-align: left;
  padding: 10px;
}
.p-header-right.is-open ul.c-nav li.c-nav-list h2.c-menu-list::before {
  display: none;
  position: absolute;
  right: 23px;
  top: 22.5px;
  content: "";
  height: 2px;
  width: 23px;
  background-color: black;
  display: block;
  transform: rotate(90deg);
}
.p-header-right.is-open ul.c-nav li.c-nav-list h2.c-menu-list::after {
  display: none;
  position: absolute;
  right: 23px;
  top: 22.5px;
  content: "";
  height: 2px;
  width: 23px;
  background-color: black;
  display: block;
  transform: rotate(180deg);
}
.p-header-right.is-open ul.c-nav li.c-nav-list h2.c-menu-list:hover {
  background-color: #F2FAFB;
}
.p-header-right.is-open ul.c-nav li.c-nav-list h2.no-pseudo::before {
  display: none;
}
.p-header-right.is-open ul.c-nav li.c-nav-list h2.no-pseudo::after {
  display: none;
}
.p-header-right.is-open ul.c-nav li.c-nav-list ul.c-submenu {
  display: none;
  margin: 0;
  padding: 0;
}
.p-header-right.is-open ul.c-nav li.c-nav-list ul.c-submenu li {
  position: relative;
  width: 100%;
  padding: 15px;
  padding-left: 30px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}
.p-header-right.is-open ul.c-nav li.c-nav-list ul.c-submenu li:hover {
  background-color: #F2FAFB;
}
.p-header-right.is-open ul.c-nav li.c-nav-list.is-hover h2::before {
  top: -2px;
  right: 10px;
  height: 50px;
  width: 50px;
  background-color: #F7F7F7;
}
.p-header-right.is-open a {
  width: 100%;
  height: 100%;
}

.p-container1 {
  background-image: url(../img/RaiseTech模写課題image2.png);
  background-attachment: fixed;
  background-size: cover;
  height: 200px;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  .p-container1 {
    height: 680px;
  }
}

.p-container2 {
  transition: 0.2s;
  background-color: #fff;
  height: 155px;
}
.p-container2 h2 {
  font-size: 13px;
  line-height: 22px;
  font-weight: 700;
  padding-top: 15px;
}
.p-container2 a {
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
  background-color: #2498B3;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  height: 40px;
  padding: 12px 15px;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .p-container2 {
    height: 328px;
    width: 412px;
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    z-index: 30;
  }
  .p-container2 h2 {
    font-size: 16px;
    line-height: 27px;
    margin: 15px auto;
  }
  .p-container2 a {
    width: 290px;
    height: 68px;
    font-size: 18px;
    line-height: 18px;
    padding-top: 25px;
  }
}

.p-container3 {
  height: auto;
  background-color: black;
  color: #fff;
}
.p-container3 ul {
  padding-bottom: 50px;
}
.p-container3 ul li {
  padding-top: 60px;
}
.p-container3 ul li #icon1::before {
  font-family: "Font Awesome 6 Free";
  content: "\f44b";
  font-weight: 900;
  font-size: 110px;
  -webkit-text-stroke: 8px black;
  line-height: 2;
}
.p-container3 ul li #icon2::before {
  font-family: "Font Awesome 6 Free";
  content: "\f201";
  font-weight: 900;
  font-size: 110px;
  -webkit-text-stroke: 8px black;
  line-height: 2;
}
.p-container3 ul li #icon3::before {
  font-family: "Font Awesome 6 Free";
  content: "\f1cd";
  font-weight: 900;
  font-size: 110px;
  -webkit-text-stroke: 8px black;
  line-height: 2;
}
.p-container3 ul li h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 41px;
  margin: 10px auto;
}
.p-container3 ul li p {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .p-container3 {
    position: relative;
    height: 260px;
  }
  .p-container3 li {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: calc(30% + 20px);
    position: relative;
    top: -240px;
    z-index: 30;
  }
  .p-container3 li p {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1079px) {
  .p-container3 li {
    width: calc(25% + 20px);
  }
}
@media screen and (min-width: 1201px) {
  .p-container3 ul {
    max-width: 1078px;
    margin: 0 auto;
  }
}

.p-header-left .c-header-logo {
  padding-top: 9px;
  padding-left: 10px;
}
.p-header-left .c-header-phrase h1 {
  display: none;
}
@media screen and (min-width: 1201px) {
  .p-header-left .c-header-logo {
    display: flex;
    width: 160px;
    padding: 0 0 0 21px;
  }
  .p-header-left .c-header-logo a {
    height: 70px;
    display: inline-flex;
    align-items: center;
  }
}
@media screen and (min-width: 1281px) {
  .p-header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .p-header-left .c-header-phrase h1 {
    display: block;
    font-size: 15px;
    line-height: 20px;
    font-weight: 900;
    padding-left: 30px;
    text-align: justify;
  }
}

.p-header-right .nav-menu {
  display: none;
}
.p-header-right .nav-menu ul.c-nav {
  font-size: 12px;
  font-weight: 100;
  line-height: 27px;
}
.p-header-right .nav-menu ul.c-nav li.c-nav-list h2.c-menu-list {
  display: none;
}
@media screen and (min-width: 1201px) {
  .p-header-right .nav-menu {
    display: block;
  }
  .p-header-right .nav-menu ul.c-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
  }
  .p-header-right .nav-menu ul.c-nav li.c-nav-list {
    display: block;
    height: 70px;
    padding-top: 20px;
  }
  .p-header-right .nav-menu ul.c-nav li.c-nav-list h2.c-menu-list {
    display: block;
    height: 100%;
    padding: 0 10px;
  }
  .p-header-right .nav-menu ul.c-nav li.c-nav-list ul.c-submenu {
    display: none;
    width: auto;
    position: absolute;
    background-color: #E9F7FA;
  }
  .p-header-right .nav-menu ul.c-nav li.c-nav-list ul.c-submenu li {
    text-align: left;
    font-size: 16px;
    line-height: 27px;
    font-weight: 500;
  }
  .p-header-right .nav-menu ul.c-nav li.c-nav-list ul.c-submenu li a {
    height: 65px;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 40px;
  }
  .p-header-right .nav-menu ul.c-nav li.c-nav-list ul.c-submenu li a:hover {
    color: #46A4BC;
    background-color: white;
    width: 100%;
  }
  .p-header-right .nav-menu ul.c-nav .c-nav-list:hover {
    background-color: #D4F1F8;
  }
  .p-header-right .nav-menu ul.c-nav li.c-header-application-for-class {
    display: block;
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;
  }
  .p-header-right .nav-menu ul.c-nav li.c-header-application-for-class a {
    color: white;
    background-color: #2498B3;
    height: 70px;
    padding-top: 22px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.p-header-right .c-header-application-for-class {
  display: none;
}

.p-header-right.is-open .p-nav {
  position: relative;
  width: 100vw;
  right: 145px;
}
.p-header-right.is-open .p-nav .p-header-menu {
  position: relative;
  overflow: hidden;
}
.p-header-right.is-open .p-nav .p-header-menu ul.c-nav {
  position: relative;
  padding-top: 50px;
  margin: 0;
}
.p-header-right.is-open .p-nav .p-header-menu ul.c-nav li.c-nav-list h2.c-menu-list {
  display: block;
}

.p-humburger {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 200;
  margin: auto 0;
  transition: 0.2s;
}
.p-humburger span {
  position: absolute;
  width: 23px;
  height: 2px;
  background-color: #2498B3;
  top: 16px;
  right: 12px;
  transition: 0.2s;
}
.p-humburger span:nth-child(2) {
  margin-top: 9px;
  transition: 0.2s;
}
.p-humburger span:last-child {
  margin-top: 18px;
  transition: 0.2s;
}
@media screen and (min-width: 1201px) {
  .p-humburger {
    display: none;
  }
}

.p-humburger.is-open {
  background-color: #2498B3;
  position: absolute;
  right: 10px;
  transition: 0.2s;
}
.p-humburger.is-open span {
  background-color: #fff;
}
.p-humburger.is-open span:first-child {
  transform: translateY(9px) rotate(-45deg);
  transition: 0.2s;
}
.p-humburger.is-open span:nth-child(2) {
  display: none;
  transition: 0.2s;
}
.p-humburger.is-open span:last-child {
  transform: translateY(-9px) rotate(-135deg);
  transition: 0.2s;
}
/*# sourceMappingURL=style.css.map */